
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="mySuggestionLabel" data-translate="jhipsterElasticsearchSampleApplicationApp.suggestion.home.createOrEditLabel">Create or edit a Suggestion</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.suggestion.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.suggestion.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="jhipsterElasticsearchSampleApplicationApp.suggestion.title" for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title"
                    ng-model="vm.suggestion.title"
                    required/>
            <div ng-show="editForm.title.$invalid">
                <p class="help-block"
                    ng-show="editForm.title.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="jhipsterElasticsearchSampleApplicationApp.suggestion.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.suggestion.description"
                    required/>
            <div ng-show="editForm.description.$invalid">
                <p class="help-block"
                    ng-show="editForm.description.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setImage($file, vm.suggestion)">
            <label class="control-label" data-translate="jhipsterElasticsearchSampleApplicationApp.suggestion.image" for="field_image">Image</label>
            <div>
                <div ng-if="vm.suggestion.image" class="help-block clearfix">
                    <a class="pull-left" ng-click="vm.openFile(vm.suggestion.imageContentType, vm.suggestion.image)" data-translate="entity.action.open">open</a><br>
                    <span class="pull-left">{{vm.suggestion.imageContentType}}, {{vm.byteSize(vm.suggestion.image)}}</span>
                    <button type="button" ng-click="vm.suggestion.image=null;vm.suggestion.imageContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setImage($file, vm.suggestion)" data-translate="entity.action.addblob">
                    Add blob
                </button>
            </div>
            <input type="hidden" class="form-control" name="image" id="field_image"
                    ng-model="vm.suggestion.image"
                    />
            <input type="hidden" class="form-control" name="imageContentType" id="field_imageContentType"
                    ng-model="vm.suggestion.imageContentType" />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="jhipsterElasticsearchSampleApplicationApp.suggestion.creationDate" for="field_creationDate">Creation Date</label>
                <div class="input-group">
                    <input id="field_creationDate" type="text" class="form-control" name="creationDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.suggestion.creationDate" is-open="vm.datePickerOpenStatus.creationDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('creationDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

        <div class="form-group">
            <label data-translate="jhipsterElasticsearchSampleApplicationApp.suggestion.author" for="field_author">Author</label>
            <select class="form-control" id="field_author" name="author" ng-model="vm.suggestion.authorId" ng-options="userDashboard.id as userDashboard.user for userDashboard in vm.userdashboards"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
