<div>
    <h2 data-translate="jhipsterElasticsearchSampleApplicationApp.suggestion.home.title">Suggestions</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="suggestion.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs-down"  data-translate="jhipsterElasticsearchSampleApplicationApp.suggestion.home.createLabel">
                        Create new Suggestion
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'jhipsterElasticsearchSampleApplicationApp.suggestion.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="title"><span data-translate="jhipsterElasticsearchSampleApplicationApp.suggestion.title">Title</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span data-translate="jhipsterElasticsearchSampleApplicationApp.suggestion.description">Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="image"><span data-translate="jhipsterElasticsearchSampleApplicationApp.suggestion.image">Image</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="creationDate"><span data-translate="jhipsterElasticsearchSampleApplicationApp.suggestion.creationDate">Creation Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="authorUser"><span data-translate="jhipsterElasticsearchSampleApplicationApp.suggestion.author">Author</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
                <tr ng-repeat="suggestion in vm.suggestions track by suggestion.id">
                    <td><a ui-sref="suggestion-detail({id:suggestion.id})">{{suggestion.id}}</a></td>
                    <td>{{suggestion.title}}</td>
                    <td>{{suggestion.description}}</td>
                    <td>
                        <a ng-if="suggestion.image" ng-click="vm.openFile(suggestion.imageContentType, suggestion.image)" data-translate="entity.action.open">open</a>
                        <span ng-if="suggestion.image">{{suggestion.imageContentType}}, {{vm.byteSize(suggestion.image)}}</span>
                    </td>
                        <td>{{suggestion.creationDate | date:'mediumDate'}}</td>
                    <td>
                        <a ui-sref="user-dashboard-detail({id:suggestion.authorId})">{{suggestion.authorUser}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="suggestion-detail({id:suggestion.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="suggestion.edit({id:suggestion.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="suggestion.delete({id:suggestion.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
