<header class="site-header" role="navigation">
    <div class="container-responsive">
        <a class="header-logo-invertocat" href="#/" ng-click="vm.collapseNavbar()" aria-label="Home">
            <img class="logo-img" src="content/images/logo-jhipster.png" alt="logo"/>
            <span data-translate="global.title">L'Incubateur Insoumis</span> <span class="navbar-version">v{{VERSION}}</span>
        </a>

        <button class="btn-link float-right site-header-toggle" type="button" aria-label="Toggle navigation" ng-click="vm.toggleNavbar()">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <div class="site-header-menu" ng-switch="vm.isAuthenticated()">
            <nav class="site-header-nav">

                <!--1 ANONYMOUS NAV -->
                <div ng-switch-when="false">
                    <div>
                        <a ui-sref="#" class="nav-item">      
                           <span>Principes</span>
                        </a>             
                        <a ui-sref="#" class="nav-item" >                      
                          <span>Outils</span>
                        </a>
                        <a ui-sref="#" class="nav-item">
                            <span>Objectifs</span>
                        </a>         
                        <a ui-sref="#" class="nav-item">
                            <span>A propos</span>
                        </a>
                    </div>
                </div>
                <!--1 END ANONYMOUS NAV -->

                <!--1 USER NAV -->
                <div ng-switch-when="true" ng-class="{active: vm.$state.includes('entity')}" has-authority="ROLE_USER">
                    <div ui-sref-active="active">
                        <a ui-sref="competence" class="nav-item">
                            <span class="glyphicon glyphicon-certificate"></span>&nbsp;
                            <span>Compétence</span>
                        </a>
                        <a ui-sref="project" class="nav-item">
                            <span class="glyphicon glyphicon-level-up"></span>&nbsp;
                            <span>Projets</span>
                        </a>
                        <a ui-sref="suggestion" class="nav-item">
                            <span class="glyphicon glyphicon-record"></span>&nbsp;
                            <span>Suggestions</span>
                        </a>
                        <a ui-sref="user-dashboard" class="nav-item">
                            <span class="glyphicon glyphicon-blackboard"></span>&nbsp;
                            <span>Tableau de bord</span>
                        </a>
                    </div>
                    <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
                </div>
                <!--1 END USER NAV -->
                <!--1 ADMIN NAV (additionnal to user's) -->
                <div ng-class="{active: vm.$state.includes('admin')}"  ng-switch-when="true" has-authority="ROLE_ADMIN" class="col-md-12" style="display : inline-flex;justify-content: center; align-items: center;">
                <span uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="admin-menu">
                        <span>
                            <span class="glyphicon glyphicon-tower"></span>
                            <span class="hidden-sm" data-translate="global.menu.admin.main">Administration</span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active">
                            <a ui-sref="user-management" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-user"></span>&nbsp;
                                <span data-translate="global.menu.admin.userManagement">User management</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="jhi-metrics" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-dashboard"></span>&nbsp;
                                <span data-translate="global.menu.admin.metrics">Metrics</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="jhi-health" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-heart"></span>&nbsp;
                                <span data-translate="global.menu.admin.health">Health</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="jhi-configuration" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-list-alt"></span>&nbsp;
                                <span data-translate="global.menu.admin.configuration">Configuration</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="audits" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-bell"></span>&nbsp;
                                <span data-translate="global.menu.admin.audits">Audits</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="logs" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-tasks"></span>&nbsp;
                                <span data-translate="global.menu.admin.logs">Logs</span>
                            </a>
                        </li>
                        <li ng-show="vm.swaggerEnabled" ui-sref-active="active">
                            <a ui-sref="docs" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-book"></span>&nbsp;
                                <span data-translate="global.menu.admin.apidocs">API</span>
                            </a>
                        </li>
                        <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
                        <li ng-hide="vm.inProduction">
                            <a href='/h2-console' target="_tab" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-hdd"></span>&nbsp;
                                <span data-translate="global.menu.admin.database">Database</span>
                            </a>
                        </li>
                    </ul> </span>       
                <!--1 ADMIN ENTITIES TAB -->
               <span uib-dropdown class="dropdown pointer">  
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="entity-menu"  >
                        <span>
                            <span class="glyphicon glyphicon-th-list"></span>
                            <span class="hidden-sm" data-translate="global.menu.entities.main">
                                Entities
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active">
                            <a ui-sref="competence" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.competence">Competence</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="comp-domain" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.compDomain">Comp Domain</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="user-dashboard" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.userDashboard">User Dashboard</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="project" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.project">Project</span>
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="suggestion" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                <span data-translate="global.menu.entities.suggestion">Suggestion</span>
                            </a>
                        </li>
                        <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
                    </ul>
                </span>
                    </div>
                <!--1 END ADMIN NAV -->
                <!-- jhipster-needle-add-element-to-menu - JHipster will add new menu items here -->
            </nav>


            <div class="site-header-actions">
                <!-- 2 SEARCH --
                <div class="header-search" role="search">
                    <form accept-charset="UTF-8" action="/search"  method="get"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"></div>
                    <label class="form-control header-search-wrapper">
                        <a href="/dashboard" class="header-search-scope no-underline">/dashboard</a>
                        <input type="text" class="form-control header-search-input "  name="q" value="" placeholder="Cherchez qqch" aria-label="Search" autocapitalize="off">
                        <input type="hidden" class="" name="type">
                    </label>
                </form></div>
                !--2 END SEARCH-->
                <!--3 ANONYMOUS SIGNIN/UP -->
                <div ng-switch-when="false">
                    <a class="text-bold site-header-link" href="" ng-click="vm.login()" id="login">Sign in</a>
                    <span class="text-gray">or</span>
                    <a class="text-bold site-header-link" ui-sref="register">Sign up</a>
                </div>
            
                <!--3 END ANONYMOUS SIGNIN/UP -->
                <!--3 USER ACCOUNT MANAGEMENT -->
                <div ng-class="{active: vm.$state.includes('account')}" uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="account-menu">
                        <span ng-switch-when="true">
                            <span class="glyphicon glyphicon-user"></span>
                            <span class="hidden-sm" data-translate="global.menu.account.main">
                                Account
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a ui-sref="settings" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-wrench"></span>&nbsp;
                                <span data-translate="global.menu.account.settings">Settings</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a ui-sref="password" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-lock"></span>&nbsp;
                                <span data-translate="global.menu.account.password">Password</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a ui-sref="sessions" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-cloud"></span>&nbsp;
                                <span data-translate="global.menu.account.sessions">Sessions</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a href="" ng-click="vm.logout()" id="logout()">
                                <span class="glyphicon glyphicon-log-out"></span>&nbsp;
                                <span data-translate="global.menu.account.logout">Sign out</span>
                            </a>
                        </li>
                        
                    </ul>
                </div>

            </div>
            <!--3 END USER ACCOUNT MANAGEMENT -->
        </div>
    </div>
</header>
